@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_LayoutDripcafe.cshtml";
}

<section class="blog">
    <div class="pic-area">
        <div class="pic-area-text">
            <div class="blog-slider">
                <div class="blog-slider__wrp swiper-wrapper">
                    <div class="blog-slider__item swiper-slide">
                        <div class="blog-slider__img">
                            <img src="../img/img_blog/blog-1.jpeg" alt="">
                        </div>
                        <div class="blog-slider__content">
                            <span class="blog-slider__code">10/4/2023</span>
                            <div class="blog-slider__title">Cà phê ngon và sảng khoái</div>
                            <div class="blog-slider__text">Cà phê ngon buổi sáng cùng với The Space chúng tôi. </div>
                            <a href="#" class="blog-slider__button">Đọc thêm</a>
                        </div>
                    </div>
                    <div class="blog-slider__item swiper-slide">
                        <div class="blog-slider__img">
                            <img src="../img/img_blog/blog-2.jpeg" alt="">
                        </div>
                        <div class="blog-slider__content">
                            <span class="blog-slider__code">20/04/2023</span>
                            <div class="blog-slider__title">Những hương vị tuyệt vời về cà phê</div>
                            <div class="blog-slider__text">Hành trình đi tìm các hương vị đặc biệt của The Space.</div>
                            <a href="#" class="blog-slider__button">Đọc thêm</a>
                        </div>
                    </div>

                    <div class="blog-slider__item swiper-slide">
                        <div class="blog-slider__img">
                            <img src="../img/img_blog/blog-3.jpeg" alt="">
                        </div>
                        <div class="blog-slider__content">
                            <span class="blog-slider__code">30/04/2023</span>
                            <div class="blog-slider__title">Uy tín tạo nên thương hiệu</div>
                            <div class="blog-slider__text">Hãy cho chúng tôi niềm tin. Chúng tôi trao bạn trọn hương vị lý tưởng này.</div>
                            <a href="#" class="blog-slider__button">Đọc thêm</a>
                        </div>
                    </div>
                </div>
                <div class="blog-slider__pagination"></div>
            </div>
        </div>
    </div>
<div class="main-area" id="blog">
    <div class="section-area">
        
    </div>
    <div class="section-area">
        <section class="blogs" id="blogs">
                <h1 class="heading">Blog mới nhất về chúng tôi </h1>

            <div class="box-container">

                    <div class="box">
                        <div class="image">
                            <img src="../img/img_blog/blog-1.jpeg" alt="">
                        </div>
                        <div class="content">
                            <a href="#" class="title">Cà phê ngon và sảng khoái</a>
                            <span>10/04/2023</span>
                            <p>Cà phê ngon buổi sáng cùng với The Space chúng tôi.</p>
                            <a href="#" class="btn">Đọc thêm</a>
                        </div>
                    </div>

                    <div class="box">
                        <div class="image">
                            <img src="../img/img_blog/blog-2.jpeg" alt="">
                        </div>
                        <div class="content">
                            <a href="#" class="title">Những hương vị tuyệt vời về cà phê</a>
                            <span>20/04/2023</span>
                            <p>Hành trình đi tìm các hương vị đặc biệt của The Space.</p>
                            <a href="#" class="btn">Đọc thêm</a>
                        </div>
                    </div>

                    <div class="box">
                        <div class="image">
                            <img src="../img/img_blog/blog-3.jpeg" alt="">
                        </div>
                        <div class="content">
                            <a href="#" class="title">Uy tín tạo nên thương hiệu</a>
                            <span>30/04/2023</span>
                            <p>Hãy cho chúng tôi niềm tin. Chúng tôi trao bạn trọn hương vị lý tưởng này.</p>
                            <a href="#" class="btn">Đọc thêm</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
</div>

