
@{
    ViewData["Title"] = "Contact";

}
<section class="contact">
    <div class="pic-area">
        <div class="pic-area-text">
            <h1 class="home__name">
                Liên hệ chúng tôi
            </h1>
            <h3>Chỉ một email, một số điện thoại.</h3>
            <div class="sections">
                <div class="sections-section">
                    <i class="fas fa-envelope"></i> Email <p>SpaceCoffee@gmail.com</p>
                </div>
                <div class="sections-section">
                <i class="fas fa-mobile-alt"></i> Điện thoại <p>+84 825 xxx x07</p>
                </div>
                <div class="sections-section">
                <i class="fas fa-map-marker-alt"></i> Địa chỉ <p>3 Cau Giay, Cau Giay, Dong Da, Ha Noi</p>
                </div>
            </div>
            <div class="follow">
                <h1 class="title-follow">Theo dõi chúng tôi</h1>
                <div class="icons">
                    <a href="#!">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#!">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="#!">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#!">
                        <i class="fab fa-snapchat-square"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="copyright">&copy; Copyright 2022</div>
    </div>



