
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_LayoutDripcafe.cshtml";
}

<section class="services">
    <div class="pic-area">
        <div class="pic-area-text">
            <h2>Về chúng tôi</h2>
            <h1 class="home__name">
                Dịch vụ tuyệt vời!
            </h1>
            <!-- <button class="btn-order">Order Now!</button> -->
        </div>
    </div>
    <div class="main-area">
        <div class="section-area">
            <div class="section-A">
                <div class="box-text">
                    <h1>Là nơi truyền cảm hứng cho mọi người
                    </h1>
                    <p>
                         Space House sẽ là nơi mọi người xích lại gần nhau, đề cao giá trị kết nối con người và 
                         sẻ chia thân tình bên những tách cà phê, ly trà đượm hương, truyền cảm hứng về lối sống 
                         hiện đại.
                    </p>
                </div>
                <div class="box-img">
                    <img src="../img/entertainment.jpg" alt="Entertainment" />
                </div>
            </div>
        </div>
        <div class="section-area">
            <div class="section-B">
                <div class="box-text">
                    <h1>Bãi đậu xe rộng rãi</h1>
                    <p>
                        Chúng tôi cho phép bất kỳ khách hàng nào đỗ xe 24/7 trong khu nhà của chúng tôi miễn là bạn 
                        là khách hàng đã đăng ký trong danh sách email của chúng tôi. Tuy nhiên, ai đến trước được 
                        phục vụ trước nên bạn phải nhanh tay nếu không sẽ có người chiếm chỗ của bạn!
                    </p>
                </div>
                <div class="box-img">
                    <img src="../img/parking.jpg" alt="Parking" />
                </div>
            </div>
        </div>
        <div class="section-area">
            <div class="section-C">
                <div class="box-text">
                    <h1>Là địa điểm tổ chức tiệc</h1>
                    <p>
                        Chúng tôi có thể tổ chức bất kỳ bữa tiệc nào cho bạn hoặc những người thân yêu của bạn! 
                        Chúng tôi cung cấp các loại thực phẩm từ bánh rán đến bánh sinh nhật. 
                        Chúng tôi cũng có thể phát nhạc, cung cấp trò chơi và hơn thế nữa!
                    </p>
                </div>
                <div class="box-img">
                    <img src="../img/venue.jpg" alt="Venue" />
                </div>
            </div>
        </div>
    </div>


